.calendar-tooltip {
    $arrow-size: 5px;
    $arrow-color: #fff;

    position: absolute;
    width: 180px;
    z-index: 1;

    .calendar-tooltip-arrow {
        width: 0;
        height: 0;
        position: absolute;
        border: $arrow-size solid transparent;

        &:after {
            content: '';
            position: absolute;
            box-shadow: 0 0 $arrow-size ($arrow-size / 2) #ccc;
            z-index: -1;
        }
    }
    .calendar-tooltip-inner {
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        padding: 10px;
    }

    &[x-placement^="top"] {
        margin-bottom: $arrow-size;
    
        .calendar-tooltip-arrow {
            border-top-color: $arrow-color;
            bottom: -$arrow-size * 2;
            left: calc(50% - #{$arrow-size});

            &:after {
                bottom: $arrow-size;
            }
        }
    }
    
    &[x-placement^="bottom"] {
        margin-top: $arrow-size;
        
        .calendar-tooltip-arrow {
            border-bottom-color: $arrow-color;
            top: -$arrow-size * 2;
            left: calc(50% - #{$arrow-size});

            &:after {
                top: $arrow-size;
            }
        }
    }
    
    &[x-placement^="right"] {
        margin-left: $arrow-size;
        
        .calendar-tooltip-arrow {
            border-right-color: $arrow-color;
            left: -$arrow-size * 2;
            top: calc(50% - #{$arrow-size});
            
            &:after {
                left: $arrow-size;
            }
        }
    }
    
    &[x-placement^="left"] {
        margin-right: $arrow-size;
    
        .calendar-tooltip-arrow {
            border-left-color: $arrow-color;
            right: -$arrow-size * 2;
            top: calc(50% - #{$arrow-size});
            
            &:after {
                right: $arrow-size;
            }
        }
    }
}