<!-- navigation -->
<div class="calendar-row">
    <div ng-click="ctrl.prevMonth()">
        &larr;
    </div>
    <div ng-click="view.setParentView()">
        {{ctrl.title}}
    </div>
    <div ng-click="ctrl.nextMonth()">
        &rarr;
    </div>
</div>

<!-- header -->
<div class="calendar-row">
    <div ng-repeat="header in ctrl.header" class="calendar-cell">
        {{header}}
    </div>
</div>

<!-- body -->
<div class="calendar-body">
    <div ng-repeat="week in ctrl.weeks track by $index">
        <div class="calendar-row dates">
            <div ng-repeat="item in week.dates track by item.id" ng-class="item.classes" class="calendar-cell">
                {{item.label}}
            </div>
        </div>
        <div class="calendar-row events" ng-repeat="row in week.rows track by $index">
            <div
                ng-repeat="item in row.events track by $index"
                class="calendar-cell border"
                ng-class="[
                    'ng-calendar-offset-' + item.offset,
                    'ng-calendar-fill-' + item.rowSpan,
                ]"
            >
                <div class="calendar-event">
                    {{item.event.name}}
                </div>
            </div>
        </div>
    </div>
</div>