.calendar-row {
    display: flex;
    flex-direction: row;
}
.calendar-cell {
    flex-grow: 1;
    flex-basis: 0;
    overflow: hidden;
}

@for $i from 1 through 7 {
    .ng-calendar-fill-#{$i} {
        flex: 0 0 percentage($i / 7);
        max-width: percentage($i / 7);
    }
    .ng-calendar-offset-#{$i} {
        margin-left: percentage($i / 7);
    }
}