moment-calendar {
    display: flex;
    flex-direction: column;
    height: 35rem;
}
.calendar-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    > * {
        flex: 1 1 0;
        overflow: hidden;
    }
}
.calendar-row {
    display: flex;
    flex-direction: row;
}
.calendar-cell {
    flex-grow: 1;
    flex-basis: 0;
    overflow: hidden;
}
.calendar-event {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0.2rem;
    background: #03a9f4;
    margin: 0 0.4rem 0.2rem;
    padding: 0.15rem 0.3rem;
}

@for $i from 1 through 7 {
    .ng-calendar-fill-#{$i} {
        flex: 0 0 percentage($i / 7);
        max-width: percentage($i / 7);
    }
    .ng-calendar-offset-#{$i} {
        margin-left: percentage($i / 7);
    }
}