<!-- navigation -->
<div class="calendar-row">
    <div ng-click="ctrl.previousMonth()">
        &larr;
    </div>
    <div ng-click="ctrl.nextMonth()">
        &rarr;
    </div>
    <div ng-click="view.setParentView()">
        {{ctrl.title}}
    </div>
</div>

<!-- header -->
<div class="calendar-row">
    <div ng-repeat="header in ctrl.header" class="calendar-cell calendar-header">
        {{header}}
    </div>
</div>

<!-- body -->
<div class="calendar-body">
    <div ng-repeat="(nr, week) in ctrl.weeks" class="calendar-week">
        <div class="calendar-row calendar-boxes">
            <div
                ng-repeat="item in week.dates track by item.id"
                class="calendar-cell calendar-box"
                ng-class="{'calendar-other-month': item.otherMonth}"
            >
            </div>
        </div>
        <div class="calendar-row">
            <div
                ng-repeat="item in week.dates track by item.id"
                class="calendar-cell calendar-date"
                ng-class="{'calendar-other-month': item.otherMonth}"
            >
                {{item.label}}
            </div>
        </div>
        <div class="calendar-row calendar-events-row" ng-repeat="row in week.rows track by $index">
            <div
                ng-repeat="item in row.events track by $index"
                class="calendar-cell"
                ng-class="[
                    'calendar-offset-' + item.offset,
                    'calendar-fill-' + item.rowSpan,
                ]"
            >
                <div
                    class="calendar-event"
                    ng-class="{
                        'calendar-event-start': !item.continuesThisWeek,
                        'calendar-event-end': item.endsThisWeek,
                    }"
                    title="{{item.event.name}}"
                >
                    {{item.event.name}}
                </div>
            </div>
        </div>
    </div>
</div>