<!-- navigation -->
<div class="calendar-row">
    <div ng-click="ctrl.previousMonth()">
        &larr;
    </div>
    <div ng-click="ctrl.nextMonth()">
        &rarr;
    </div>
    <div ng-click="view.setParentView()">
        {{ctrl.title}}
    </div>
</div>

<!-- header -->
<div class="calendar-row">
    <div ng-repeat="header in ctrl.header track by $index" class="calendar-cell calendar-header">
        {{header}}
    </div>
</div>

<!-- body -->
<div class="calendar-body">
    <div ng-repeat="(nr, week) in ctrl.weeks" class="calendar-week">
        <!-- colored/bordered box -->
        <div class="calendar-row calendar-boxes">
            <div
                ng-repeat="date in week.dates track by date.id"
                class="calendar-cell calendar-box"
                ng-class="{
                    'calendar-other-month': date.otherMonth,
                    'calendar-today': date.isToday,
                }"
            >
            </div>
        </div>
        <!-- date label -->
        <div class="calendar-row">
            <div
                ng-repeat="date in week.dates track by date.id"
                class="calendar-cell calendar-date"
                ng-class="{'calendar-other-month': date.otherMonth}"
            >
                {{date.label}}
            </div>
        </div>
        <!-- event rows -->
        <div
            class="calendar-row calendar-events-row"
            ng-repeat="row in week.rows track by $index"
            ng-if="week.rows.length <= ctrl.rowsPerWeek || $index < ctrl.rowsPerWeek - 1"
        >
            <div
                ng-repeat="item in row.events track by $index"
                class="calendar-cell"
                ng-class="[
                    'calendar-offset-' + item.offset,
                    'calendar-fill-' + item.colSpan,
                ]"
            >
                <div
                    class="calendar-event"
                    ng-class="{
                        'calendar-event-start': item.startsThisDay,
                        'calendar-event-end': item.endsThisWeek,
                    }"
                    title="{{item.event.name}}"
                >
                    <div ng-if="item.time" class="calendar-event-time">{{item.time}}</div>
                    <div class="calendar-event-description">{{item.event.name}}</div>
                </div>
            </div>
        </div>
        <!-- additional events -->
        <div class="calendar-row calendar-events-row" ng-if="week.rows.length > ctrl.rowsPerWeek">
            <div
                ng-repeat="date in week.dates track by date.id"
                class="calendar-cell calendar-fill-1"
            >
                <div
                    ng-if="date.additionalEvents > 0"
                    class="calendar-additional-events-label"
                    ng-class="{'calendar-additional-events-expanded': ctrl.tooltipDate.id === date.id}"
                    moment-calendar-tooltip="date"
                >
                    +{{date.additionalEvents}} more
                </div>
            </div>
        </div>
    </div>
</div>